<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix"
        *ngFor="let contact of contacts">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ contact.name }}</h4>
                <!-- <p class="list-group-item-text">{{ contact.id }}</p> -->
                <p class="list-group-item-text">Email: {{ contact.email }}</p>
                <!-- <p class="list-group-item-text">{{ contact.group }}</p> -->
                <!-- <p class="list-group-item-text">{{ contact.imageUrl }}</p> -->
                <p class="list-group-item-text">Phone Number: {{ contact.phoneNumber }}</p>
                <div class="row">
                    <div class="btn-toolbar col-xs-12">
                        <button class="btn btn-danger">Delete</button>
                        <button class="btn btn-success">Edit</button>
                    </div>
                </div>
            </div>
            <span class="pull-right">
                <img [src]="contact.imageUrl"
                alt="{{contact.name}}"
                class="img-responsive"
                style="max-height: 50px;">
            </span>
        </a>
    </div>
</div>
<!-- <div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button"
             class="btn btn-primary dropdown-toggle">
             Manage Contact <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add</a></li>
                <li><a href="#">Edit</a></li>
                <li><a href="#">Delete</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        Ingredient
    </div>
</div> -->