<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Contact</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix"
        *ngFor="let contact of contacts">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ contact.name }}</h4>
                <!-- <p class="list-group-item-text">{{ contact.id }}</p>
                <p class="list-group-item-text">{{ contact.email }}</p>
                <p class="list-group-item-text">{{ contact.group }}</p>
                <p class="list-group-item-text">{{ contact.imageUrl }}</p>
                <p class="list-group-item-text">{{ contact.phoneNumber }}</p> -->
            </div>
            <span class="pull-right">
                <img [src]="contact.imageUrl"
                alt="{{contact.name}}"
                class="img-responsive"
                style="max-height: 50px;">
            </span>
        </a>
        <cms-contact-item></cms-contact-item>
    </div>    
</div>


